@tailwind base;
*::-webkit-scrollbar {
    width: 4px;
  }
  
  *::-webkit-scrollbar-track {
    background: #F5F6F8;
    border-radius: 5px;
  }
  
  *::-webkit-scrollbar-thumb {
    /* background-color: blue; */
    border: 17px solid #232E3E;
    border-radius: 50px;
  }
@tailwind components;
@tailwind utilities;


html,body{
    margin: 0px;
    padding: 0px;
    width: 100%;
    /* height: 600px; */
}